#Created by Constraints Editor (xc6slx25-ftg256-3) - 2015/01/02
NET "clk50" PERIOD = 20 ns | LOC = "P85"; # IO_L42P_GCLK25_TRDY2_M3UDM
#NET "clk32" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3
NET "LEDS<0>" LOC="P16";
NET "LEDS<1>" LOC="P19";
NET "LEDS<2>" LOC="P20";